body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

  font-size: 100%;
  color:#40514E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
p{
  line-height: 2;
}
.book-img {
  width: 30%;
  float: left;
  position:relative;
  top:10px;

}
.farm{
  margin-right: 30px;
  padding-right: 230px;
}
.bwr{
  margin-left: 30px;
  padding-left: 230px;
}
.farm-img {
  width: 30%;
  float:right;
}

h1 {
  font-size: 5.25rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color:  #0c7073;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;

}
a:hover{
  color:#EAF6F6;
}
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #E4F9F5;
}

.middle-container {
  padding:100px;

}

.bottom-container {
background-color: #66BFBF;
padding:50px 0 20px;

}

.intro{
  width:30%;
  margin: auto;
  padding-bottom: 40px;

}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
hr{

  border-style:none;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 5px;
  width:8%;
  margin: 100px auto;
}
.contact{
  width:40%;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 30px;
}
.btn-1 {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-1:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.btn-2 {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-2:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
padding: 20px 0;
}
.linked-in{
width:1.5%;
position:relative;
left:20px;
top:5px;
}
.git{
  width:1.5%;
  position:relative;
  left:20px;
  top:5px;
}
.insta{
  width:1.5%;
  position:relative;
  left:20px;
  top:5px;
}
